<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.covid.life">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".form.activity_temperatura"></activity>
        <activity android:name=".form.activity_recuerda" />
        <activity android:name=".form.activity_guia" />
        <activity android:name=".menu.menu_pacientes" />
        <activity android:name=".form.activity_signosVitales" />
        <activity android:name=".menu.activity_menu_inicio" />
        <activity android:name=".resultados.activity_resultado" />
        <activity
            android:name=".form.activity_paciente"
            android:label="@string/title_activity_paciente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.activity_recuperar" />
        <activity android:name=".login.activity_registration" />
        <activity android:name=".MainActivity" />
        <activity android:name=".login.activity_login" />
        <activity
            android:name=".form.activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".menu.activity_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>